* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(33, 33, 97);
    color: white;
    height: 10vh;
    line-height: 10vh;
}

header h1 {
    margin: auto;
    text-align: center;
}

main {
    background-color: grey;
    width: 50vw;
    margin: auto;
    min-height: 50vh;
    min-width: 320px;
    max-width: auto;
    border-radius: 3vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select, p, input, button {
    margin-top: 1vh;
    text-align: center;
    min-width: 150px;
    max-width: auto;
}

select, button {
    height: 10vh;
    width: 20%;
}

input {
    height: 5vh;
    width: 5vh;
}

button {
    margin-bottom: 5vh;
}

#resultado {
    background-color: white;
    height: 10vh;
    width: 20%;
    margin-bottom: 5vh;
    line-height: 10vh;
}